@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

section {
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding-left: 50px;
}

.logo {
  width: 100px;
  margin-bottom: 25px;
}

h1 {
  font-family: Roboto;
  color: white;
  font-size: 22px;
  margin-bottom: 25px;
}

.carrousel {
  display: flex;
  overflow-x: scroll;
}

.item {
  width: 220px;
  height: 125px;
}
